# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and models
Dataset/*.csv
*.pkl
plots/

# Environments
.venv/
env/
venv/
ENV/

# OS and IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
